@import "../../../variables";
@import "../../../mixins";


.dropdown{
    @include centered-column;

    width: min(max(calc(0.45*54vw), 54vh) , 540px);
    height: min(max(calc(0.45*30vw), 30vh), 300px);
    position: fixed;
    z-index: 2;
    top: min(max(calc(0.45*15vw), 15vh), 130px);
    right: 0px;
    align-items: center;
    background-color: $theme-background;
    color: $light-text-color;

    .dropdownItem{
        @include centered-row;

        width: 100%;
        flex-grow: 1;

        &:hover{
            cursor: pointer;
            background-color: $theme-background-hover;
        }

        .dropdownText{
            @include text;
        }
    }
}