@import "../../../variables";
@import "../../../mixins";


.carouselContainer{
    @include centered-row;

    position: relative;
    width: 100vw;
    height: min(calc(0.45*76vw), 756px);
    padding-bottom: min(max(calc(0.45*4vw), 4vh), 44px);
    margin-top: 0px;
    background-color: $secondary-background-dark;
    overflow: hidden;
}
