@import "../../../variables";
@import "../../../mixins";


.carouselContainer{
    @include centered-row;

    position: relative;
    height: min(calc(0.45*80vw), 800px);
    background-color: $secondary-background-dark;
    padding-bottom: min(calc(0.45*4vw), 4vh, 40px);
    
    .imgContainer{
        position: relative;
        height: min(calc(0.45*80vw), 800px);
        margin: 0 min(calc(0.45*2vw), 2vh, 20px);

        & figcaption{
            @include heading1;
            
            position: absolute;
            bottom: 0px;
            z-index: 1;
            width: 100%;
            padding: min(calc(0.45*3vw), 3vh, 30px) 0 min(calc(0.45*7vw), 7vh, 70px) min(calc(0.45*5vw), 6vh, 60px);
            margin: 0;
            background-color: rgba(0,0,0,0.7);
            color: white;
            text-align: left;
        }
    }
}

