@import url("../../../../../node_modules/react-responsive-carousel/lib/styles/carousel.css");

.carousel.carousel-slider .control-arrow {
    width: calc(15vw - min(calc(0.45*2vw), 2vh, 20px)) !important;
}

.carousel.carousel-slider .control-arrow.control-prev::before {
    border-top: min(calc(0.45*4vw), 4vh, 40px) solid transparent !important;
    border-right: min(calc(0.45*4vw), 4vh, 40px) solid white !important;
    border-bottom: min(calc(0.45*4vw), 4vh, 40px) solid transparent !important;
}

.carousel.carousel-slider .control-arrow.control-next::before {
    border-top: min(calc(0.45*4vw), 4vh, 40px) solid transparent !important;
    border-left: min(calc(0.45*4vw), 4vh, 40px) solid white !important;
    border-bottom: min(calc(0.45*4vw), 4vh, 40px) solid transparent !important;
}