@import "../../../variables";
@import "../../../mixins";



.searchContainer{
    @include centered-row;

    position: relative;
    z-index: 4;
    width: min(max(calc(0.45*32vw), 32vh), 300px);
    height: 100%;
    border-bottom: none;

    &:hover{
        border-bottom: min(1vh, 10px) solid white;
    }

    .searchField{
        height: min(max(calc(0.45*4vw), 5vh), 40px);
        width: min(max(calc(0.45*25vw), 25vh), 250px);
        padding: 0 0 0 min(max(calc(0.45*1vw), 1vh), 10px);
        background-color: $secondary-background-dark;
        border-radius: min(max(calc(0.45*1vw), 1vh), 10px);
        border: none;
        color: white;
        font-size: min(max(calc(0.45*2.5vw), 2.5vh), 20px); 
        margin: auto 0;

        &:focus{
            outline: solid 3px white;
        }

        &::placeholder{
            color: $light-text-color;
            opacity: 1;
        }
    }

    .searchImg{
        margin-left: min(max(calc(0.45*1vw), 1vh), 10px);
        width: min(max(calc(0.45*2.5vw), 2.5vh), 25px);
        
        &:hover{
            cursor: pointer;
        }
    }
}