@import "../variables";
@import "../mixins";

.mainSection{
    @include centered-column;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $secondary-background-light;

    & article:last-child{
        margin-bottom: min(max(calc(0.45*5vw), 6vh), 60px);
    }

    & section:last-child{
        margin-bottom: min(max(calc(0.45*5vw), 6vh), 60px);
    }
}