@import "../../variables";
@import "../../mixins";


.regionHeading{
    @include heading1;
}

.ladder{
    align-self: center;
    width: 80vw;
    border-spacing: 0;
    border: 2px solid black;
    font-size: min(max(calc(0.45*3vw), 3vh), 30px);
    text-align: center;
    
    // table header
    & thead{
        @include heading3;

        background-color: $theme-background;
        color: $light-text-color;
    }
    
    // table body
    & tbody{
        @include text;

        font-weight: normal;
        color: $dark-text-color;
    }
    
    // table rows
    & tbody tr:nth-child(odd){
        background-color: $secondary-background-light;
    }
    
    & tbody tr:nth-child(even){
        background-color: $secondary-background-section;
    }
    
    & tr{
        height: min(max(calc(0.45*5vw), 5vh), 50px);
    }

    // table columns
    & tbody :nth-child(0){
        width: 38vw;
    }

    & tbody :nth-child(n+2){
        width: 7vw;
        border-left: 2px solid black;
    }
}