@import "../../variables";
@import "../../mixins";


.region{
    @include centered-column;

    width: 90vw;
    margin-top: min(max(calc(0.45*5vw), 6vh), 60px);
    background-color: $secondary-background-section;

    .marginedRegion{
        width: 80vw;
        margin-bottom: min(max(calc(0.45*5vw), 6vh), 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

