@import "../../variables";
@import "../../mixins";


.formContainer{
    @include centered-column;

    width: 80vw;
    margin-top: min(max(calc(0.45*3vw), 3vh), 30px);
    padding-bottom: min(max(calc(0.45*3vw), 3vh), 30px);    
    background-color: $secondary-background-light;
    border-radius: min(max(calc(0.45*3vw), 3vh), 30px);

    & h1{
        @include heading1;
        
        align-self: center;
        width: 35vw;
        text-align: center;
    }
}

