// The primary theme color
$theme-background : #00468F;
$theme-background-hover : #012E5E;

// Secondary backgrounds
$secondary-background-dark : #787878;
$secondary-background-light : #DDDDDD;
$secondary-background-section : #FFFFFF;

// The text colours - these depend on the background
$light-text-color : #FFFFFF;
$dark-text-color : #000000;