@import "../../variables";
@import "../../mixins";


.regionHeading{
    @include heading1;
}

.fixture{
    align-self: center;
    width: 60vw;
    border-spacing: 0;
    border: 2px solid black;
    font-size: min(max(calc(0.45*3vw), 3vh), 30px);
    
    // table header
    & thead{
        @include heading3;

        background-color: $theme-background;
        color: $light-text-color;
    }
    
    // table body
    & tbody{
        @include text;

        font-weight: normal;
        color: $dark-text-color;
    }
    
    // table rows
    & tbody tr:nth-child(odd){
        background-color: $secondary-background-light;
    }
    
    & tbody tr:nth-child(even){
        background-color: $secondary-background-section;
    }
    
    & tr{
        height: min(max(calc(0.45*5vw), 5vh), 50px);
    }

    // columns
    & tbody :nth-child(1){
        border-right: 2px solid black;
    }
}