@import "../variables";
@import "../mixins";


.foot{
    width: 100%;
    max-height: min(max(calc(0.45*39vw), 39vh), 390px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: $theme-background;
    color: $light-text-color;

    .footerBox{
        @include baseline-row;
        
        width: 80%;
        align-items: flex-start;
    }

    & p{
        @include text;
        
        margin-top: min(max(calc(0.45*10vw), 10vh), 100px);
        justify-self: end;
        width: 80%;
        padding-bottom: 10px;
    }
}