@import "../../../variables";
@import "../../../mixins";


.searchResults{
    @include centered-column;

    width: 74.4vw;
    background-color: $theme-background;
    color: $light-text-color;
    position: absolute;
    z-index: -1;
    top: min(max(calc(0.45*15vw), 15vh), 130px);
    border-top-width: 0;
    border-radius: min(max(calc(0.45*1vw), 1vh), 10px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;

    .resultBox{
        @include baseline-row;

        width: 100%;
        height: min(max(calc(0.45*7vw), 7vh), 70px);
        padding-left: min(max(calc(0.45*5vw), 5vh), 50px);
        align-items: center;

        &:hover{
            cursor: pointer;
            background-color: #d0d0d0;
            color: $dark-text-color;
        }

        &:last-child{
            padding-bottom: min(max(calc(0.45*1vw), 1vh), 10px);
        }

        .resultText{
            margin-left: min(max(calc(0.45*1vw), 1vh), 10px);
            background-color: rgba(255,255,255,0.4);
        }
    }
}

