@import "../variables";
@import "../mixins";

.errorContainer{
    @include centered-column;

    width: 100%;
    height: 100%;

    & h1{
        @include heading1;

        align-self: center;
        text-align: center;

        width: min(70vw, 800px);
    }

    & p{
        @include text;

        text-align: center;
    
        width: min(60vw, 700px);
    }
}